/* UTILITY */
:root {
    --grey: #1F1F1F;
    --blue: #3A6DE7;
    --light-grey: #BEBCBB;
    --dark-blue: #161C3B;
    --red: #CD3D0F;
    --lavish-white: #D9DADC;
    --white: #fff
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

/* COLOR */

.my-bg-grey {
    background-color: var(--grey);
}

.my-bg-light-grey {
    background-color: var(--light-grey);
}

.my-bg-dark-blue {
    background-color: var(--dark-blue);
}

.my-bg-blue {
    background-color: var(--blue);
}

.my-bg-red {
    background-color: var(--red);
}

/* BTN */
.btn-danger:hover {
    background-color: rgb(161, 48, 11) !important;
}

.btn-white {
    background-color: var(--white);
}

.btn-white:hover {
    color: var(--white) !important;
    border-color: var(--blue) !important;
}

/* MARGIN & PADDING */

/* HERO */

.my-bg-image {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 60vh;
}

.my-bg-image-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 60vh;
}

/* CAROSEL */
.caro-item {
    transition: 0.5s;
    cursor: pointer;
}

.caro-item:hover {
    transform: translate(0, -10%);
    border: 2px solid var(--white);
    box-shadow: 0 0 0 0px var(--white), 0 0 0 1.5px var(--blue);
    border-radius: 10px;
}

/* FOOTER */
footer img.ps-footer {
    width: 100px;
}

footer img.globe {
    width: 20px;
}

footer img.sie {
    width: 150px;
}

.active-line-blue:after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: var(--blue);
    bottom: 0;
    left: 0;
    position: absolute;
}

.line-underline:hover .line-blue:after {
    content: "";
    width: 100%;
    height: 5px;
    background: var(--blue);
    bottom: 0;
    left: 0;
    position: absolute;
}

.line-underline:hover div.opacity-75 {
    opacity: 1 !important;
}